/*    // RAJU, CHANDAN
  //   JADRAN 048
  //   PROJECT 3
  //   FALL 2017 */
h1 {
    text-align: center;
    }
 
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    font-family: arial;
    font-size: 120%;
    }
    
td {
    border: 1px solid #ac5353;
    padding: 5px;
    }
    
tr:nth-child(even) {
    background-color: #B0B0B0;
    }
tr:nth-child(odd) {
    background-color: #D3D3D3;
    }
img{
    width: 100px;

}